*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
.vs/
*.ipch
*.log
*.tlog
*.pdb
*.obj
*.idb
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
[Cc]MakeCache.txt
[Cc]MakeFiles/
cmake-build-*/
Thumbs.db
ehthumbs.db
Desktop.ini
*.exe
*.dll
*.lib
*.exp